<%- include('../includes/head.ejs') %>

    <title>3D AR</title>

    <style>
        
        /* Style the tab */
        .tab {
          overflow: hidden;
          border: 1px solid #d81f27;
          /* background-color: #f1f1f1; */
        }
        
        /* Style the buttons inside the tab */
        .tab button {
          background-color: #fff;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
        }
        
        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #d56368;
        }
        
        /* Create an active/current tablink class */
        .tab button.active {
          background-color: #d81f27;
        }
        
        /* Style the tab content */
        .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #fff;
          border-top: none;
        }
        </style>

</head>
<body>

    <%- include('../includes/navigation.ejs') %>
   
    <main class="grid px-8 mx-auto gap-y-7">

        <section class="menu">

            <div class="grid grid-cols-2 tab rounded-t-md">
                <button class="tablinks" onclick="openCity(event, 'Furniture')" id="defaultOpen">Furniture Menu</button>
                <button class="tablinks" onclick="openCity(event, 'Food')">Food Menu</button>
            </div>
            
            <div id="Furniture" class="tabcontent rounded-b-md">
                <section class="grid justify-center my-10 foodMenu gap-y-20">
                <% if (furnitures.length > 0) { %>
        
                    <% for (let product of furnitures) { %>
                    <div class="justify-center overflow-hidden grid">
                        <div class="flex flex-col justify-start pt-16 pl-4 pr-10 leading-normal">
                            <div class="mb-2 text-xl font-bold text-center"><%= product.title %></div>
                        </div>

                        <div class="grid justify-center justify-items-center grid-cols-[max-content_0.4fr]">
                            <a href="/model/<%= product._id %>" target="_blank">
                                <img class="flex-none h-48 overflow-hidden text-center bg-cover lg:h-auto lg:w-auto" src="<%= product.markerImagePath %>" alt="<%= product.title %>">
                            </a>

                            <model-viewer class="w-[100%] h-[100%]"  src="<%= product.modelPath %>" ar 
                                alt="A Chair" 
                                poster="<%= product.imagePath %>"
                                shadow-intensity="1" 
                                camera-controls 
                                touch-action="pan-y">
                            </model-viewer>
                        </div>

                        <div class="flex justify-evenly mt-5 gap-x-2">
                            <a href="/admin/edit-item/<%= product._id %>?edit=true" class="btn text-primary hover:text-white w-full bg-slate-300  hover:bg-primary rounded-lg py-1 px-3 justify-center flex">Edit</a>
                            <form action="/admin/delete-product" method="POST" class="w-full">
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button class="btn  text-primary hover:text-white w-full bg-slate-300 rounded-lg py-1 px-3 justify-center flex hover:bg-primary" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
                    <% } else { %>
                    <h1>No Products Found!</h1>
                <% } %>
                </section>
            </div>
            
            <div id="Food" class="tabcontent rounded-b-md">
                <section class="grid justify-center my-10 foodMenu gap-y-20">
                <% if (foodProducts.length > 0) { %>
        
                    <% for (let product of foodProducts) { %>
                        <div class="justify-center overflow-hidden grid">
                            <div class="flex flex-col justify-start pt-16 pl-4 pr-10 leading-normal">
                                <div class="mb-2 text-xl font-bold text-center"><%= product.title %></div>
                            </div>
    
                            <div class="grid justify-center justify-items-center grid-cols-[max-content_0.4fr]">
                                <a href="/model/<%= product._id %>" target="_blank">
                                    <img class="flex-none h-48 overflow-hidden text-center bg-cover lg:h-auto lg:w-auto" src="<%= product.markerImagePath %>" alt="<%= product.title %>">
                                </a>
    
                                <model-viewer class="w-[100%] h-[100%]"  src="<%= product.modelPath %>" ar 
                                    alt="A Chair" 
                                    poster="<%= product.imagePath %>"
                                    shadow-intensity="1" 
                                    camera-controls 
                                    touch-action="pan-y">
                                </model-viewer>
                            </div>
    
                            <div class="flex justify-evenly mt-5 gap-x-2">
                                <a href="/admin/edit-item/<%= product._id %>?edit=true" class="btn text-primary hover:text-white w-full bg-slate-300  hover:bg-primary rounded-lg py-1 px-3 justify-center flex">Edit</a>
                                <form action="/admin/delete-product" method="POST" class="w-full">
                                    <input type="hidden" value="<%= product._id %>" name="productId">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <button class="btn  text-primary hover:text-white w-full bg-slate-300 rounded-lg py-1 px-3 justify-center flex hover:bg-primary" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <h1>No Products Found!</h1>
                <% } %>
                </section>
            </div>

        </section>

        <hr>

        <!-- <section class="grid justify-center my-10 foodMenu gap-y-20">
        <% if (products.length > 0) { %>

            <% for (let product of products) { %>
            <div class="justify-center overflow-hidden border-2 border-gray-400 border-solid rounded-lg lg:flex">

                <img class="flex-none h-48 overflow-hidden text-center bg-cover lg:h-auto lg:w-auto" src="<%= product.markerImagePath %>" alt="<%= product.title %>">
                <div class="flex flex-col justify-start pt-16 pl-4 pr-10 leading-normal">
                    <div class="mb-2 text-xl font-bold text-gray-900"><%= product.title %></div>
                </div>
              </div>
            <% } %>
            <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
        </section> -->

    </main>

    <script type="module"
    src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
    </script>

    <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>

<script type="module"
src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
</script>

</body>
</html>