<%- include('includes/head.ejs') %>
    <title>Food Menu AR</title>
</head>
<body>

    <%- include('includes/navigation.ejs') %>

  
   
    <main class="px-8 mx-auto">
        <section class="flex gap-6 intro">
            <div class="flex flex-col justify-center gap-5 introText">
                <h1 class="text-lg font-semibold">Welcome To Our AR Enabled Food Menu</h1>
                <p>Just scan the QR code and point your camera to the menu item image to view the 3D model in AR</p>
            </div>

            <div class="appQR">
                <img src="/image/qr.png">
            </div>  
        </section>

        <hr>
        <section class="grid foodMenu mt-7 justify-center gap-y-28">
        <% if (products.length > 0) { %>

            <% for (let product of products) { %>
            <div class=" justify-center overflow-hidden lg:flex border-2 border-solid rounded-lg border-gray-400">

                <img class="flex-none h-48 overflow-hidden text-center bg-cover lg:h-auto lg:w-auto" src="<%= product.markerImagePath %>" alt="<%= product.title %>">
                <div class="flex flex-col justify-start pt-16 pl-4 pr-10 leading-normal bg-white">
                    <div class="mb-2 text-xl font-bold text-gray-900"><%= product.title %></div>
                </div>
              </div>
            <% } %>
            <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
        </section>

    </main>
</body>
</html>