<%- include('includes/head.ejs') %>
    <title>3D AR</title>
</head>
<body>

    <%- include('includes/navigation.ejs') %>

  
   
    <main class="px-8 mx-auto">
        <section class="grid md:grid-cols-3 gap-6 intro">
            <div class="md:col-span-2 flex flex-col justify-center gap-5 introText">
                <h1 class="text-lg font-semibold">Welcome To Our 3D AR Enabled Menu</h1>
                <p class="text-justify"><b>Step 1: </b>Scan the QR code to launch the app. It will ask for Camera permission. Click on Allow to continue</p>
                <p class="text-justify"><b>Step 2: </b>Point your camera to any of the Item images shown below. This will load the 3D model for the respective item.</p>
                <p class="text-justify"><b>Step 3: </b>You can interact with the 3d model shown to rotate, zoom in / out. </p>
            </div>

            <div class="appQR flex justify-center items-center">
                <img class="max-w-[250px]" src="/image/qr.png">
            </div>  
        </section>

        <hr>
        <section class="grid foodMenu my-10 justify-center gap-y-20">
        <% if (products.length > 0) { %>

            <% for (let product of products) { %>
            <div class=" justify-center overflow-hidden lg:flex border-2 border-solid rounded-lg border-gray-400">

                <img class="flex-none h-48 overflow-hidden text-center bg-cover lg:h-auto lg:w-auto" src="<%= product.markerImagePath %>" alt="<%= product.title %>">
                <div class="flex flex-col justify-start pt-16 pl-4 pr-10 leading-normal bg-white">
                    <div class="mb-2 text-xl font-bold text-gray-900"><%= product.title %></div>
                </div>
              </div>
            <% } %>
            <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
        </section>

    </main>
</body>
</html>