<%- include('includes/head.ejs') %>
    <title>Model Viewer</title>
    <!-- Import the model-viewer component -->
</head>
<body>

    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="grid justify-center gap-8 px-8">
            <h1 class="mt-4 text-2xl text-center"><%= product.title %></h1>

            <!-- Use it like any other HTML element -->
            <model-viewer class="w-[90vw] h-[90vh]"  src="<%= product.modelPath %>" ar 
                alt="A Chair" 
                poster="<%= product.imagePath %>"
                shadow-intensity="1" 
                camera-controls 
                touch-action="pan-y">
            </model-viewer>
            

            <%= console.log(product.id )%>
        </div>
    </main>

    

    <script type="module"
        src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
    </script>
</body>
</html>